@model Flashback.Models.Meeting

@{ ViewData["Title"] = "Details"; }

<h1>Meeting</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VenueChannel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VenueChannel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User)
            </dt>*@
        @*<dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Id)
            </dd>*@

    </dl>
    <h2>@TempData["Message"]</h2>
</div>

@{if (ViewBag.isAttending == false)
    {
<a asp-controller="Meetings" asp-action="JoinMeeting" asp-route-id="@Model.MeetingId"><button id="update-profile-button" type="submit" class="btn btn-primary">Join</button></a>}
else
{
} }

@*<form asp-action="Create" asp-controller="Messages">

        <div class="form-group">

            <input type="text" placeholder="Submit Question Here" />

            <input type="submit" value="Submit Chat" class="btn btn-primary" />
        </div>
    </form>*@

<p>
    <a asp-action='Create' asp-controller="Messages" asp-route-id="@Model.MeetingId">Create a meeting messages</a>
</p>
<div class="card">
    <div class="card-header">
        Messages
    </div>
    <div>


        @foreach (var item in @Model.Messages)
        {

<div class="card">

    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                @Html.DisplayFor(modelItem =>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               item.Messages)
            </p>
            <footer class="blockquote-footer">@Html.DisplayFor(modelItem => item.TimeStamp)</footer>
        </blockquote>
    </div>
</div> @*<div class="card-body">@Html.DisplayFor(modelItem => item.TimeStamp)  @Html.DisplayFor(modelItem => item.Messages)</div>
    <div class="list-group-item">@Html.DisplayFor(modelItem => item.TimeStamp)</div>*@}
        </ul>
    </div>
    <table class="table">

        <thead>
            <tr>
                @*<th>
                        Time of Entry
                    </th>
                    <th>
                        Message
                    </th>*@

                @*</tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.Messages)
                            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeStamp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Messages)
                        </td>


                    </tr>}*@
                </tbody>
    </table>
    <div>
        <a href="javascript: history.go(-1)">Go Back</a>
    </div>

    <div>
        @*<a asp-action="Edit" asp-route-id="@Model.MeetingId">Edit</a> |*@
        @*<a asp-action="Index">Back to List</a>*@
    </div>
